<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> List Items</title>
</head>
<body>
<h1 align = "center">Todolist items</h1>
<table align="center" border="1" cellpadding="2.5" cellspacing="1.5" >
<tr>
    <th>Description</th>
    <th>Due_date</th>
    <th>Status</th>
</tr>

{%  for item in items %}

    <tr>
        <td>  {{ item.description }} </td>
        <td> {{ item.due_date }}</td>
        <td>{{ item.completed }}</td>
    </tr>
    {% endfor %}


</table>
</body>
</html>